<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
<%= render 'userinfo', user: @user %>
<%= render 'books/list', book: @book_new %>
  </div>
  <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>




<%= link_to user_path(@user.id) do %>
<%= image_tag @book.user.get_profile_image(100,100) %><br>
<%= @book.user.name %>
 <% end %>

<p><%= @book.title %></p>
<p><%= @book.body %></p>
<div>
  <% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
    <% end %>
  <% end %>
</div>
  </div>
 </div>
</div>

